
<!-- OTROS
  SEARCH
  <div class="container">
    <%= form_tag portfolios_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a Course"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  BRUTO EACH con IMAGEN TEXTO
  <div class="container">
    <% @portfolios.each do |p| %>
        <h4><%= p.name %></h4>
        <p><%= p.content %></p>
        <p><%#= image_tag(p.url_image) %></p>
    <% end %>
  </div>

<%  @portfolios_profesional.each do |p| %>
  <div class="container my-3 buceando border-left-0 border-info rounded-left rounded-lg">
      <div class= "d-flex py-3">
        <div>
          <h3><%= p.name %></h3>
          <p><%= p.content %></p>
          <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=<%= p.name %>%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
  </div>
<% end %>


-->


<p><%= image_tag(p.url_image)%></p>

<div class="container ">
  <div class="cards">
    <%  @portfolios_profesional.each do |p| %>
      <div class="card-category-portfolio d-flex justify-content-center align-items-center text-center mb-3" style="background-image: linear-gradient(rgba(51,60,135,0.3), rgba(51,60,135,0.9)), url('<%= p.url_image%>')">
        <div>
          <h3><%= p.name %></h3>
          <p><%= p.content %></p>
          <a class="btn btn-outline-success my-3"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=<%= p.name %>%20-%20Quiero%20mi%20programa">Pedi tu programa</a>        
        </div>
      </div>
    <% end %>
  </div>
</div>



<div class="banner-white py-5">
  <div class="cards">
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "proyecto_seccion_4_noticias_mte" %>')"> 
      <div class="text"> 
        <p>Monte Caseros - Argentina</p>
      </div> 
    </div>
  </div>
</div>






<!--GRILLA PRUEA-->
<!--Grilla Prueba-->
<div class="container">
  <h2>Nuestros Logros</h2>
  <div class="achivements">
    <hit id="h1"><%= image_tag "proyecto_objetivos_gabriele-stravinskaite.jpg", class: "imagen-proyecto" %></hit>

    <div class="card card-hits text-center">
      <div class="card-body">
          <hit id="h2"><i class="fas fa-heartbeat"></i></hit>
          <p>Talleres de RCP</>
          <ul>
            <li>a Bomberos</li>
            <li>la Comunidad</li>
            <li>y escuelas rurales</li>
          </ul>
      </div>
    </div>

    <div class="card card-hits text-center">
      <div class="card-body">
          <hit id="h3"><i class="fas fa-first-aid"></i></i></hit>
          <p>Primeros Auxilios</>
          <ul>
            <li>a Empresas</li>
            <li>a Bomberos</li>
            <li>a la Comunidad</li>
          </ul>
      </div>
    </div>
    
    <div class="card card-hits text-center">
      <div class="card-body">
          <hit id="h4"><i class="fas fa-ambulance"></i></hit>
          <p>Proveedor de Oxigeno</>
          <ul>
            <li>Revalida a</li>
            <li>Bomberos</li>
          </ul>
      </div>
    </div>
    
    <div class="card card-hits text-center">
      <div class="card-body">
          <hit id="h5"><i class="fas fa-virus"></i></hit>
          <p>Patogenos Areos</>
          <ul>
            <li>Taller gratuito</li>
            <li>a la comunidad</li>
          </ul>
      </div>
    </div>

    <div class="card card-hits text-center">
      <div class="card-body">
          <hit id="h6"><i class="fas fa-water"></i></hit>
          <p>Buceo</>
          <ul>
            <li>Nuevos OWD</li>
            <li>Mas AOWD</li>
            <li>Rescues</li>
          </ul>
      </div>
    </div>

    <div class="card card-hits text-center">
      <div class="card-body">
          <hit id="h7"><i class="fas fa-mask"></i></hit>
          <p>DSD</>
          <ul>
            <li>En pileta</li>
            <li>En canteras</li>
          </ul>
      </div>
    </div>

    <div class="card card-hits text-center">
      <div class="card-body">
          <hit id="h8"><i class="fas fa-arrow-circle-up"></i></hit>
          <p>Especialidades</>
          <ul>
            <li>Nitrox</li>
            <li>Solo</li>
            <li>T.Seco</li>
          </ul>
      </div>
    </div>

    <div class="card card-hits text-center to_grow">
      <div class="card-body">
          <hit id="h9"><i class="fas fa-glasses"></i></hit>
          <p>Consultoria a Centros de Buceo</>
          <ul>
            <li>Procesos</li>
            <li>Posicionamiento</li>
            <li>Manejo y uso de Redes Sociales</li>
          </ul>
      </div>
    </div>


  </div>
</div>


.achivements {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns:  2fr 1fr 1fr 1fr ;
  grid-template-rows: 10em 10em;
  grid-gap: 1em;
  width: 100%;
}

.achivements hit:first-child {
  grid-row-start: 1;
  grid-row-end: 4;
}

.to_grow {
  grid-row: 3;
  grid-column: 5/3;
  border: 3px solid rgba(0,0,0,.2);
}


.news {
  display: grid;
  grid-template-columns: repeat( 3, 1fr );
  grid-template-rows: 10em;
  grid-gap: 1em;
}

@media(max-width: 992px) {
  .achivements {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .achivements {
    grid-template-columns: 1fr;
  }
}