
<!-- OTROS
  SEARCH
  <div class="container">
    <%= form_tag portfolios_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a Course"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  BRUTO EACH con IMAGEN TEXTO
  <div class="container">
    <% @portfolios.each do |p| %>
        <h4><%= p.name %></h4>
        <p><%= p.content %></p>
        <p><%#= image_tag(p.url_image) %></p>
    <% end %>
  </div>

-->
