
<!-- OTROS
  SEARCH
  <div class="container">
    <%= form_tag portfolios_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a Course"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  BRUTO EACH con IMAGEN TEXTO
  <div class="container">
    <% @portfolios.each do |p| %>
        <h4><%= p.name %></h4>
        <p><%= p.content %></p>
        <p><%#= image_tag(p.url_image) %></p>
    <% end %>
  </div>

<%  @portfolios_profesional.each do |p| %>
  <div class="container my-3 buceando border-left-0 border-info rounded-left rounded-lg">
      <div class= "d-flex py-3">
        <div>
          <h3><%= p.name %></h3>
          <p><%= p.content %></p>
          <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=<%= p.name %>%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
  </div>
<% end %>


-->


<p><%= image_tag(p.url_image)%></p>

<div class="container ">
  <div class="cards">
    <%  @portfolios_profesional.each do |p| %>
      <div class="card-category-portfolio d-flex justify-content-center align-items-center text-center mb-3" style="background-image: linear-gradient(rgba(51,60,135,0.3), rgba(51,60,135,0.9)), url('<%= p.url_image%>')">
        <div>
          <h3><%= p.name %></h3>
          <p><%= p.content %></p>
          <a class="btn btn-outline-success my-3"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=<%= p.name %>%20-%20Quiero%20mi%20programa">Pedi tu programa</a>        
        </div>
      </div>
    <% end %>
  </div>
</div>



<div class="banner-white py-5">
  <div class="cards">
    <div class="card-proyect" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "proyecto_seccion_4_noticias_mte" %>')"> 
      <div class="text"> 
        <p>Monte Caseros - Argentina</p>
      </div> 
    </div>
  </div>
</div>