<div class="footer">
  <div class="container"> 
  <div class="row d-flex ">
    <div class="col-sm align-items-end">
      <h4>Calimba</h4>
      <p class="small text-muted">Copyright © 2021. Calimba Todos los derechos reservados</p>
    </div>

    <div class="col-sm">
      <h4>Conecta</h4>
        <div class="footer-links">
          <a href="https://www.instagram.com/combicalimba/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.facebook.com/combicalimba" target="_blank"><i class="fab fa-facebook"></i></a>
          <a href="https://github.com/giseares target="_blank""><i class="fab fa-github"></i></a>
          <a href="https://www.youtube.com/channel/UC6gKILvZxRGYUyy86tbJ9VA" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>  
        <div class="footer-copyright">
          Comparti con <i class="fas fa-heart"></i> Combicalimba
        </div>
    </div>

    <div class="col-sm">
      <h6>“Nuestro pasado, nuestro presente y lo que queda de nuestro futuro 
        depende absolutamnete de lo que haremos hoy”
      </h6>
      <p>Silvya Earle</p>
    </div>
  </div>
</div>
