<div class="banner_central" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "GOPR0071.JPG" %>')">
  <div class="container">
    <div class= "text-center">
      <h1>Cursos de Buceo</h1>
      <p>Primeros Auxilios y Medio Ambiente</p>
    </div>
  </div>
</div>

<div class="container text-center video">
<h2>Aprenda a Bucear hoy!!</h2>
  <%= video_tag "buceo.mp4", :size => "320x240", :controls => true %>

</div>