<div class="banner-white py-5">
  <h2 class= "pl-2">Conoce nuestro recorrido!!</h2>
  <div class="gallery-container">
    <p class= "text-center align-center"> <br>Después de haber conocido los cuatro continentes por tierra y agua, decidimos recorrer nuestro continente por tiempo completo en Kombi, no dejes de seguir nuestra aventura viajera en @combicalimbaok</p>
    <%  @portfolios_gallery.each do |p| %>
      <div class="gallery-item">
        <%= cl_image_tag @portolio.photo.key , class:"gallery-img") %>
        <p class= "gallery-title"><%= p.content %></p>
      </div>
    <% end %>
  </div>
</div>

<div class="banner-white py-5">
  <h2 class= "pl-2">Conoce nuestro recorrido!!</h2>
  <div class="gallery-container">
    <p class= "text-center align-center"> <br>Después de haber conocido los cuatro continentes por tierra y agua, decidimos recorrer nuestro continente por tiempo completo en Kombi, no dejes de seguir nuestra aventura viajera en @combicalimbaok</p>
    <%  @portfolios_gallery.each do |p| %>
      <div class="gallery-item">
        <%= image_tag(p.url_image , class:"gallery-img") %>
        <p class= "gallery-title"><%= p.content %></p>
      </div>
    <% end %>
  </div>
</div>
