<div class="banner_central" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path "portfolio_index_banner_okywpn" %>')">
  <div class="container">
    <div class= "text-center">
      <h1>Nuestra Propuesta</h1>
      <p>Conoce nuestos cursos de formacion</p>
    </div>
  </div>
</div>


<div class="container_center text-center mt-5">
  <h4>Calimba es un proyecto con el cual hemos comenzado a recorrer América impartiendo programas de educación continua. 
  </h4>
  <h5>Nuestro porfolio este compuesto de los siguientes programas: </h5>
</div>



<!--FoRMACioN PROFESIoNAL-->
<div class="banner-text">
  <div class="container">
   <h1 class="display-4">Formacion Proofesional</h1>
    <p class="lead">Conoce todos nuestros cursos de formacion profesional</p>
  </div>
</div>

<div class="container">
  <div class="cards accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-block text-left " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> <i class="fa fa-id-card" aria-hidden="true"></i> Lean Startup </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          Conocer la metodología Lean Startup. Emprender pensando en el cliente a través del Customer Development, así como definir y crear un Producto Mínimo Variable (PMV). <br><br>
          <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Lean%20Startup%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>  Design Thinking </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          Foco en los fundamentos teóricos y prácticos de todas las etapas del Design Thinking, enfocados en la creación de propuestas basadas en las experiencias y la mirada de usuarios.
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Design%20Thinking%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <i class="fa fa-puzzle-piece" aria-hidden="true"></i> Business Model Canva </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          Permite tener una mayor claridad en cómo estudiar al público objetivo, definir qué le ofrece su producto o servicio al mercado, cómo venderlo y obtener ingresos.
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Business%20Model%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><i class="fa fa-user" aria-hidden="true"></i> Taller de Liderazgo </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
          Conocer las fortalezas del grupo de trabajadores para obtener lo mejor de cada uno y destinar estas capacidades hacia los fines y objetivos empresariales
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Taller%20Liderago%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFive">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><i class="fa fa-users" aria-hidden="true"></i> Negociacion </button>
        </h2>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
        <div class="card-body">
          El taller ofrece a los participantes los conocimientos y las herramientas necesarios para ejercitar y desarrollar sus habilidades de negociación
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Taller%20Negociacion%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSix">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"><i class="fa fa-coffee" aria-hidden="true"></i> Conversaciones Difíciles </button>
        </h2>
      </div>
      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
        <div class="card-body">
          Como siempre que hablamos, lo hacemos desde algún estado emocional, de la capacidad de gestionar nuestras propias emociones depende, en gran medida, el éxito de nuestras
          conversaciones
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Conversacionesr%20Dificiles%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSeven">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"><i class="fa fa-phone" aria-hidden="true"></i>  Escucha Activa </button>
        </h2>
      </div>
      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
        <div class="card-body">
          El éxito profesional y personal depende de nuestra capacidad de comunicación. Un buen comunicador domina tanto la destreza para hablar en público como la habilidad de escuchar activamente
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Escucha%20Activa%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingEight">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight"><i class="fa fa-quote-right" aria-hidden="true"></i>  Gestion de Calidad </button>
        </h2>
      </div>
      <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
        <div class="card-body">
          La calidad en el servicio entregado a los clientes es una preocupación constante de las empresas para mantenerlos satisfechos y generar más clientes por el servicio entregado. Puede incluir calibración de descargos. 
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Gestion%20Calidad%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingNine">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Manejo de Objeciones </button>
        </h2>
      </div>
      <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
        <div class="card-body">
          Entrenar las diferentes fases de la negociación y practicar las principales objeciones y como responderlas.
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Manejo%20Objeciones%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTen">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen"><i class="fa fa-exclamation" aria-hidden="true"></i> Neuroventas </button>
        </h2>
      </div>
      <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
        <div class="card-body">
          Cómo potenciar nuestro rendimiento intelectual y poner en valor las inteligencias y capacidades que poseemos para aplicarlas en la neuroventa.
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Neuroventas%20Informacion%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingEleven">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven"><i class="fa fa-reply-all" aria-hidden="true"></i> Taller de Ventas </button>
        </h2>
      </div>
      <div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
        <div class="card-body">
          Tiene como objetivo formar a un equipo comercial para dominar los métodos, técnicas y habilidades que promuevan la venta y la fidelización del cliente
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Tallers%20Ventas%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwelve">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve"><i class="fa fa-star" aria-hidden="true"></i> Presentaciones Eficaces </button>
        </h2>
      </div>
      <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
        <div class="card-body">
          El Taller brinda las herramientas esenciales para convertir tus presentaciones en presentaciones de alto impacto
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Presentaciones%20Eficaces%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThirteen">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen"><i class="fa fa-user-circle" aria-hidden="true"></i> Cambio Organizacional </button>
        </h2>
      </div>
      <div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
        <div class="card-body">
          Impulsar un proceso de cambio no siempre es fácil, requiere de liderazgo positivo y de personas capacitadas para tener un cambio alineado a las competencias que busca el mercado.
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Cambio%20Organizacional%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFourteen">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen"><i class="fa fa-calendar" aria-hidden="true"></i> Gestión de Project Management </button>
        </h2>
      </div>
      <div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample">
        <div class="card-body">
          Consolidar los conocimientos de gestión de proyectos de los asistentes y aplicar las metodologías de gestión de proyectos a un proyecto concreto.
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Project%20Management%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFifteen">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen"><i class="fa fa-heart" aria-hidden="true"></i> Atencion al Cliente </button>
        </h2>
      </div>
      <div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionExample">
        <div class="card-body">
          Desarrollar habilidades para tratar efectivamente a las personas desde la parte humana y poder identificar las necesidades más ocultas, desde la escucha empática, el respeto y el logro de los objetivos de venta.         
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Atencion%20Cliente%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSixteen">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen"><i class="fa fa-instagram" aria-hidden="true"></i> Gestión de Redes Sociales / Community Manager </button>
        </h2>
      </div>
      <div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordionExample">
        <div class="card-body">
          Adquirir y aplicar nuevos conocimientos, habilidades y destrezas en el diseño y gestión estratégica de redes sociales    
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Redes%20Sociales%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingSeventeen">
        <h2 class="mb-0">
          <button class="btn btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Customer Experience </button>
        </h2>
      </div>
      <div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordionExample">
        <div class="card-body">
          En este taller, utilizaremos un marco, adaptado de Customer Journey Mapping, para enfocar y organizar el pensamiento de los estudiantes sobre las implicaciones operativas de sus proyectos de marca   
          <br><br> <a class="btn btn-outline-success"  target="_blank" href="https://api.whatsapp.com/send?phone=5491153842626&text=Customer%20Experience%20-%20Quiero%20mi%20programa">Pedi tu programa</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--CONSULTORIA-->
<div id="consultoria" class="banner-text">
  <div class="container">
    <h1 class="display-4">Consultoria</h1>
    <p class="lead">Todo para comprometer a tus recursos.</p>
  </div>
</div>

<div id="list-example" class="list-group">
  <a class="list-group-item list-group-item-action" href="#list-item-1">Consultoría y mejora de procesos</a>
  <div class="container mt-2">
    <p>A partir de las necesidades de la gerencia y una serie de entrevistas in situ la mejora de procesos
  se trata de identificar y abordar las ineficiencias que desperdician recursos/capital y añaden
  costos.</p>
    <ul>
      <li> Business Case </li>
      <li> Integrar procesos, recursos humanos y tecnología </li>
      <li> Gestión e implementación de Sistemas CRM - BPM </li>
      <li> Mejorar su performance </li>
      <li> Fortalecer sus controles internos y de gestión </li>
      <li> Relevamiento, análisis y documentación de procesos. Optimización </li>
      <li> Rediseño de procesos </li>
      <li> Organización metodológica y/o tercerización de áreas de Organización y Métodos </li>
      <li> Diseño, implementación e integración de soluciones tecnológicas </li>
    </ul>
  </div>
  <a class="list-group-item list-group-item-action" href="#list-item-2">Consultoría para Instructores de Buceo</a>
  <div class="container mt-2">
    <p>A partir de las necesidades del centro de buceo o el instructor realizamos los siguientes
  programas que pueden adaptarse según las necesidades de cada centro</p>
    <ul>
      <li> Consultoría integral sobre su centro </li>
      <li> Armado de plan de negocios / Business Case </li>
      <li> Programa de Community Manager </li>
      <li> Marketing Digital: diseño en redes. Planes de posteos </li>
    </ul>
  </div>
</div>


<!--COACHING-->

<div class="jumbotron jumbotron-fluid mt-5 mb-5">
  <div class="container">
    <h1 class="display-4">Coaching</h1>
    <p class="lead">Coaching Empresarial – Coaching de Equipos</p>
  </div>
</div>

<div class="container d-flex justify-content-around">
  <%= image_tag "unsplash_charles-deluvio.jpg" , class: "image-square mr-5 img-fluid" %>
  <div class= "">
    <h2>Forma Personas</h2>
    <p>El coach te ayuda a ver su entorno, abre su visión y le ayuda a pensar en tus habilidades para
    desarrollar. Un valioso compañero externo que camina a su lado por un tiempo bien definido
    para que su personal encuentre nuevas soluciones.
    El objetivo de coaching de equipos es guiar a un equipo a que defina su meta común, identificar
    que limita su desarrollo y poner en marcha una transformación que les permita maximizar su
    potencial y optimizar su rendimiento.
    Se trabajará la interacción entre sus miembros, la cooperación, la comunicación, el compromiso,
    la confianza y el liderazgo, lo que se relaciona positivamente con la productividad y efectividad
    de la empresa </p>
  </div>
</div>