
<!--PErfiles-->
<div class="container mb-5">
  <div class="gallery-profile">
    <div>
      <h2>Conocenos</h2>
      <%= cl_image_tag "undraw_Social_bio_re_0t9u_fvnd2a", class: "profile-imagen" %>
    </div>
    <div>
      <h2>Flor</h2>
      <p><i class="fas fa-star"></i> Coaching Ontologico – ICF - Formacion</p>
      <p><i class="fas fa-star"></i> RRPP y Comunicaciones</p>
      <p><i class="fas fa-star"></i> Freelance developer, community manager and digital designer.</p>
      <p><i class="fas fa-star"></i> Especialista en Marketing Digital,  Diseño de Imagen de Marca y Conceptualización.</p>
      <p><i class="fas fa-star"></i> Diseño de la Comunicación y Piezas Varias, Diseño Packaging y Producto.</p>
      <p><i class="fas fa-star"></i> Instructora SDI OWSI# 27932 e Instructora PADI OWSI #414002</p>
      <p><i class="fas fa-star"></i> Instructora First Response Training #27932 e Instructora EFR #414002</p>
      <p><i class="fas fa-star"></i> Instructora de: Deep, Sidemount, Dry Suit, Solo DIver y Nitrox</p>
    </div>
    <div>
    <h2>Gise</h2>
      <p><i class="fas fa-star"></i> Knowmad</p>
      <p><i class="fas fa-star"></i> Full Stack Development – Lewagon Buenos Aires</p>
      <p><i class="fas fa-star"></i> Licenciada en Administración y sistemas – ITBA.</p>
      <p><i class="fas fa-star"></i> Magister en Dirección estratégica y tecnológica – ITBA.</p>
      <p><i class="fas fa-star"></i> Especialista en procesos de Negocios.</p>
      <p><i class="fas fa-star"></i> Instructora SDI OWSI# 27946 e Instructora PADI OWSI #414004</p>
      <p><i class="fas fa-star"></i> Instructora First Response Training #27932 e Instructora EFR #414002</p>
      <p><i class="fas fa-star"></i> Instructora First Response Training # 27946 e Instructora EFR #414004</p>
      <p><i class="fas fa-star"></i> Instructora de Naufragios y Nitrox</p>
  </div>
</div>
<div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-2.25,107.06 C149.99,150.00 547.96,159.38 500.00,49.98 L500.00,150.00 L-5.07,153.45 Z" style="stroke: none; fill: #005A8D;"></path></svg></div>




<!--Flor Cernuschi-->
<div class="container">
  <h2 class="mt-5">Flor Cernuschi</h2>
  <div class = "row d-flex justify-content-around">
    <div class = "d-flex flex-column lh-lg col-12 col-lg-6" >
      <br>
      <p><i class="fas fa-star"></i> Coaching Ontologico – ICF - Formacion</p>
      <p><i class="fas fa-star"></i> RRPP y Comunicaciones</p>
      <p><i class="fas fa-star"></i> Freelance developer, community manager and digital designer.</p>
      <p><i class="fas fa-star"></i> Especialista en Marketing Digital,  Diseño de Imagen de Marca y Conceptualización.</p>
      <p><i class="fas fa-star"></i> Diseño de la Comunicación y Piezas Varias, Diseño Packaging y Producto.</p>
      <p><i class="fas fa-star"></i> Instructora SDI OWSI# 27932 e Instructora PADI OWSI #414002</p>
      <p><i class="fas fa-star"></i> Instructora First Response Training #27932 e Instructora EFR #414002</p>
      <p><i class="fas fa-star"></i> Instructora de: Deep, Sidemount, Dry Suit, Solo DIver y Nitrox</p>

    </div>
    <div class = "col-12 col-lg-6 text-center">
      <%= link_to cl_image_tag("proyecto_seccion_2_flor_hmcqsd", class:"imagen-small", alt: "Flor Cernuschi"), "https://www.linkedin.com/in/cernuschiflorencia", target: :_blank %>
    </div>
  </div>
</div>

<!--Gise Ares-->
<div class="banner-white py-5">
  <div class="container">
    <h2 class="">Gise Ares</h2>
    <div class = "row d-flex justify-content-around">
      <div class = "col-12 col-lg-6 text-center">
        <%= link_to cl_image_tag("proyecto_seccion_2_gise_jusnmt", class:"imagen-small", alt: "Gise Ares"), "https://ar.linkedin.com/in/gares", target: :_blank %>
      </div>

      <div class = "d-flex flex-column lh-lg col-12 col-lg-6" >
        <br>
        <p><i class="fas fa-star"></i> Knowmad</p>
        <p><i class="fas fa-star"></i> Full Stack Development – Lewagon Buenos Aires</p>
        <p><i class="fas fa-star"></i> Licenciada en Administración y sistemas – ITBA.</p>
        <p><i class="fas fa-star"></i> Magister en Dirección estratégica y tecnológica – ITBA.</p>
        <p><i class="fas fa-star"></i> Especialista en procesos de Negocios.</p>
        <p><i class="fas fa-star"></i> Instructora SDI OWSI# 27946 e Instructora PADI OWSI #414004</p>
        <p><i class="fas fa-star"></i> Instructora First Response Training #27932 e Instructora EFR #414002</p>
        <p><i class="fas fa-star"></i> Instructora First Response Training # 27946 e Instructora EFR #414004</p>
        <p><i class="fas fa-star"></i> Instructora de Naufragios y Nitrox</p>
      </div>
    </div>
  </div>
</div>
