#aboutCalimba{
  padding: 90px 0px;

  h2{
    font-size: 42px;
    font-weight: 600;
    color: rgb(80, 75, 75);
  }

  p{
    font-size: 14px;
    font-weight: 500;
    color: rgb(80, 75, 75);
    line-height: 2;
  }

  .leftspace{
    width: fit-content;
  }

  .leftspace p{
    padding: 0;
  }
}
