.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-text{
  position: relative;
  display: inline-block;
  text-align: left;
}
.texto-encima{
  position: absolute;
  color: black;
  font-size: 8px;
  top: 410px;
  left: 150px;
}

