.fa-ambulance{
  color: $four;
}

.fa-first-aid{
  color: $first;
}

.fa-heartbeat{
  color: red;
}

.fa-virus{
  color: green;
}

.fa-water{
  color: $second;
}

.fa-mask{
  color:$third;
}

.fa-arrow-circle-up{
  color: $five;
}

.fa-glasses{
  color: violet;
}

.fa-angle-double-right{
  color: $first;
}