.banner {
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  padding: 200px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
  align-items: center;
}

.banner p {
  font-size: 20px;
  color: white;
  align-items: center;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.typed-js {
  min-height: 33.6px;
}

.banner_central {
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  padding: 100px 0;
}

.banner_central h1 {
  margin: 0;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
  align-items: center;
}

.banner_central p {
  font-size: 20px;
  color: white;
  align-items: center;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

