.banner {
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  padding: 160px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
  align-items: center;
}

.banner p {
  font-size: 20px;
  color: white;
  align-items: center;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.typed-js {
  min-height: 33.6px;
}