.banner {
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  padding: 200px 0;
  padding-bottom: 10px;

  h1 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 36px;
    font-weight: bold;
    align-items: center;
  }

  p {
    font-size: 20px;
    color: white;
    align-items: center;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.typed-js {
  min-height: 33.6px;
}

.banner_central {
  background-size: cover;
  background-position: center center;
  object-fit: cover;
  padding: 100px 0;

  h1 {
    margin: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 36px;
    font-weight: bold;
    align-items: center;
  }

  p {
    font-size: 20px;
    color: white;
    align-items: center;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  h3{
    color: white;
    font-style: italic;
  }
}

.banner_curso_profesional {
  background-color: $first;
  height: 200px;
  width: 100%;
  background-position: center;
  margin-top: 20px;
  margin-bottom: 20px;

  h2 {
    margin: 0;
    padding-top: 30px ;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 36px;
    font-weight: bold;
    align-items: center;
    text-align: left;
  }

  p {
    font-size: 20px;
    color: white;
    align-items: center;
    text-align: left;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.banner-text{
  display: flex;
  color:white;
  align-items: center;
  height: 300px; 
  width: auto; 
  background-color: rgb(166, 199, 199);
}


.banner-pa{
  color:white;
  align-items: center;
  height: auto; 
  width: auto; 
  background-color: rgb(166, 199, 199);

  h2  {
    font-size: 40px;
    font-weight: bold;
  }
}

.banner-white{
  background-color: white;

  .a:hover{
    background-color: black;
  }
}

.banner-white ul{
  list-style: none;
  padding: 0;
}
