.container_center{
  padding-right: 45px;
  padding-left: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px ;
  margin-top: 120px !important;
}
@media (min-width: 768px) {
  .container_center {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container_center {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container_center {
    width: 1170px;
  }
}
