.achivements {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 100%;
  }

.achivements hit:first-child {
  grid-row-start: 1;
  grid-row-end: 4;
};


@media(max-width: 992px) {
  .achivements {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .achivements {
    grid-template-columns: 1fr;
  }
}