.imagen-coach{
  width: 100%;
  height: 100;

}

.video {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  
}

.imagen-small{
  height: 400px;
}

.imagen-proyecto {
  width: 400px;
  height: 630px;
  object-fit: cover;
}

.gallery-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 250px; 
  grid-gap: 10px;
}

.gallery-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}
.gallery-item{
  position: relative;
}

.gallery-title{
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,1));
  width: 100%;
  margin: 0;
  padding: 10px;
}  

.gallery-item:nth-child(5){
  grid-column-start: span 2;
  grid-row-start: span 3;
}

.gallery-item:nth-child(10){
  grid-row-start: span 2;
}

.gallery-item:nth-child(15){
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.gallery-item:nth-child(16){
  grid-column-start: span 2;
}

.gallery-item:nth-child(17){
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.gallery-item:nth-child(21){
  grid-row-start: span 2;
}

.gallery-item:nth-child(25){
  grid-column-start: span 2;
}

.gallery-item:nth-child(26){
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.gallery-item:nth-child(27){
  grid-row-start: span 2;
}

.gallery-item:nth-child(28){
  grid-row-start: span 2;
}


@media (min-width:768px) {
  .gallery-container{
    grid-template-columns: (1fr 1fr 1fr);
  }

  .gallery-item:nth-child(5){
    grid-row-start: span 2;
  }

  .gallery-item:nth-child(10){
    grid-row-start: span 2;
  }

  .gallery-item:nth-child(15){
    grid-column-start: span 2;
    grid-row-start: span 2;
  }

  .gallery-item:nth-child(17){
    grid-column-start: span 2;
    grid-row-start: span 2;
  }

  .gallery-item:nth-child(21){
    grid-row-start: span 2;
  }

  .gallery-item:nth-child(26){
    grid-column-start: span 2;
    grid-row-start: span 2;
  }

  .gallery-item:nth-child(27){
    grid-row-start: span 2;
  }
}

  
@media (min-width:1024px) {
  .gallery-container{
    grid-template-columns: repeat(5, 1fr);
    width: 90%;
    margin: auto;
  }
  .gallery-item:nth-child(3){
    grid-column-start: span 2;
    grid-row-start: span 2;
  }


  .gallery-item:nth-child(5){
    grid-row-start: span 1;
    grid-column-start: span 1;
  }

  .gallery-item:nth-child(9){
    grid-column-start: span 2;
    grid-row-start: span 2;
  }


  .gallery-item:nth-child(10){
    grid-row-start: span 2;
  }

  .gallery-item:nth-child(11){
    grid-row-start: span 2;
  }

  .gallery-item:nth-child(15){
    grid-column-start: span 1;
    grid-row-start: span 1;
  }

  .gallery-item:nth-child(16){
    grid-column-start: span 2;
    grid-row-start: span 2;
  }

  .gallery-item:nth-child(17){
    grid-column-start: span 2;
    grid-row-start: span 2;
  }

  .gallery-item:nth-child(18){
    grid-column-start: span 1;
    grid-row-start: span 2;
  }

  .gallery-item:nth-child(21){
    grid-row-start: span 2;
  }

  .gallery-item:nth-child(24){
    grid-column-start: span 2;
  }

  .gallery-item:nth-child(26){
    grid-column-start: span 2;
    grid-row-start: span 2;
  }

  .gallery-item:nth-child(27){
    grid-row-start: span 2;
    grid-column-start: span 2;
  }
}