#section{
  padding: 90px 0px;
}

#section h2{
  padding: 12px 94px ;
  font-size: 56px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(80, 75, 75);
}

#section p{
  font-size: 14px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(80, 75, 75);
  padding: 12px 114px ;
  line-height: 2.2;
}